<nav>
    <ul>
        <% if (loggedIn) { %>
        <li><a href="/">Home</a></li>
        <li><a href="/create-message">New Message</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/sign-up">Sign-Up</a></li>
        <li><a href="/login">Login Page</a></li>
        <% } %>
    </ul>
</nav>