<nav>
    <ul>
        <li>
            <% if (loggedIn) { %>
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
            <% } else { %>
            <a href="/sign-up">Sign-Up</a>
            <a href="/login">Login Page</a>
            <% } %>
        </li>
    </ul>
</nav>