<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODIN | Club-Message App</title>
</head>
<body>
    <h1>ODIN | Club Message App</h1>
    <form action="/sign-up" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" />
        <br>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <br>
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" name="confirm-password" type="password" />
        <br>
        <button>Sign Up</button>
    </form>
</body>
</html>